.mato{
  margin-top: 70px;
}
.pad{
  padding: 15px;
}
.clicker{
  height: 300px;
  width: 300px;
  margin: 0 auto;
  overflow: hidden;
}
.clicker-display{
  height: 200px;
}
.clicker-button-panel{
  height: 100px;
}
.header1{
  background-color: #343A40;
  height: 84px;
  color: #ffffff;
  text-align: center;
}
#head{
  font-family: 'Nunito', sans-serif;
  color: #ececec;
  font-weight: 700;
}
#span{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #ececec;
}
.disp:hover{
  cursor: pointer
}
::selection{
  background-color: #F8F9FA;
}
.time{
  margin-top: 55px;
  height: 70px;
  width: 150px;
  overflow: hidden;
  padding: 17px;
}
.modalBtn{
  margin-top: 10px;
  position: relative;
  top: 50px;
}
.bus{
  height: 100px;
}
#code{
  color: #4C6EF5;
  font-size: 20px;
}
#heart{
  color: #ff575b;
}
.footer{
  margin-top: 34px;
  height: 51px;
  background-color: #F8F9FA
}
.footer span{
  font-size: 17px;
  line-height: 55px;
}

@media (max-width: 320px) {
  .playarea{
    margin-left: -5px;
  }
}
@media only screen and(max-width: 376px) {
  .playarea{
    margin-left: 15px;
  }
}
